.sign-up-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    padding: 30px;
}

.sign-up-box{
    margin-top: 6rem;
    position: relative;
    width: 450px;
    border: 2px solid black;
    border-radius: 15px;
    padding: 10rem 3rem 4rem 3rem;
}

.sign-up-header{
    position:absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;    
}

.sign-up-header h2{
    margin-top: 50px;
    font-size: 30px;
}

.input-box{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 20px 0;
}

.input-field{
    border: none;
    width: 100%;
    height: 50px;
    font-size: 16px;
    color: black;
}

.input-field:focus{
    outline: none;
}

#user{
    margin-bottom: 10px;
    border-bottom: 1px solid black;
}

.label{
    position: absolute;
    top: 15px;
    left: 20px;
    transition: .2s;
}

#user::placeholder{
    position: relative;
    left: 50px;
    top: 2px;
}

#pass{
    margin-bottom: 10px;
    border-bottom: 1px solid black;
}

#pass::placeholder{
    position: relative;
    left: 50px;
    top: 2px;
}

.Icon{
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 20px;
}

.remember-forgot{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}

.input-submit{
    margin-top: 30px;
    width: 100%;
    height: 50px;
    background-color: #ececec;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.input-submit:hover{
    background-color: black;
    color: white;
    transition-duration: 250ms;
}

.register{
    text-align: center;
    margin-top: 20px;
}