.pricing{
    text-align: center;
    padding-top: 8rem;
}

.pricing h2{
    font-weight: 400;
}

.lead{
    padding-top: 10px;
    font-size: medium;
    font-weight: 100;
}

.container-section{
    width: 60%;
    padding: 5rem;
    margin-left: 20rem;
}

.card{
    text-align: center;
    height: 350px;
    width: 350px;
    border: 1px gray solid;
}

.search{
    padding-top: 3rem;
}

.cardtitle{
    padding: 1rem;
    font-size: 20px;
    font-weight: lighter;
    margin-top: 20px;
}

.carddesc{
    width: 80%;
    padding: 5px;
    padding-left: 35px;
    font-size: small;
    text-align: center;
}

.card2{
    margin-left: 25rem;
    margin-top: -22rem;
    text-align: center;
    height: 350px;
    width: 350px;
    border: 1px gray solid;
}

.search2{
    padding-top: 3rem;
}

.cardtitle2{
    padding: 1rem;
    font-size: 20px;
    font-weight: lighter;
    margin-top: 20px;
}

.carddesc2{
    width: 80%;
    padding: 5px;
    padding-left: 35px;
    font-size: small;
    text-align: center;
}

.card3{
    margin-left: 50rem;
    margin-top: -22rem;
    text-align: center;
    height: 350px;
    width: 350px;
    border: 1px gray solid;
}

.search3{
    padding-top: 3rem;
}

.cardtitle3{
    padding: 1rem;
    font-size: 20px;
    font-weight: lighter;
    margin-top: 20px;
}

.carddesc3{
    width: 80%;
    padding: 5px;
    padding-left: 35px;
    font-size: small;
    text-align: center;
}